[Unit]
Description=Arctis Manager
After=graphical-session.target pipewire-pulse.service sound.target
Requisite=graphical-session.target
Wants=pipewire-pulse.service sound.target
PartOf=graphical-session.target

StartLimitIntervalSec=1m
StartLimitBurst=5

[Service]
Type=exec
ExecStart=%h/.local/bin/arctis-manager
Restart=always
RestartSec=2

[Install]
WantedBy=graphical-session.target
